<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.elorri.android.loaders"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale">
            <!-- We use "configChanges="locale" to prevent the system from destroying
            and recreating the activity on locale changes. Instead, the
            SystemLocaleObserver will intercept system-wide locale changes and
            will notify the Loader to force a new load whenever this occurs.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>